<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ pageData.title }}</title>
    <meta name="description" content="{{ pageData.title }}" />

    <link rel="stylesheet" href="/css/vendor.css">
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: -ms-flexbox;
        display: flex;
        text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .12);
      }

      a,
      a:focus,
      a:hover {
        color: #000;
      }

      .cover-container {
        max-width: 42em;
      }

      .btn, svg {
        width: 80%;
        max-width: 280px;
      }

      .form-group {
        width: 100%;
        max-width: 360px;
      }

      svg {
        height: auto;
      }

      footer {
        color: rgba(0, 0, 0, .5);
      }
    </style>
    <script src="/js/vendor.js"></script>
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto pt-3 pb-3">
        <div class="inner">
          <h1 class="cover-heading">{{ pageData.title }}</h1>
          <p class="lead">{{ pageData.description }}</p>
        </div>
      </header>
      <main role="main" class="cover">
        <div class="inner hide-after-load">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="inner show-after-load d-none">
          <p id="qrcode-area" class="lead">
          </p>
          <p class="lead">
            <a id="open-in-wallet" href="#" class="btn btn-lg btn-secondary" target="_blank">Open in Wallet</a>
          </p>
          <div class="form-group mx-auto">
            <label for="address-to-copy">&mdash; or copy the address &mdash;</label>
            <input id="address-to-copy" type="text" class="form-control form-control-sm btn-tooltip btn-clipboard" placeholder="Bitcoin address" aria-label="Bitcoin address" aria-describedby="button-copy" readonly="readonly" data-clipboard-target="#address-to-copy" title="Copy to clipboard">
          </div>
        </div>
      </main>

      <footer class="mt-auto pt-3">
        <div class="inner">
          <p>Powered by <a href="https://github.com/alexk111/next-bitcoin-address" target="_blank">NextBitcoinAddress</a>.</p>
        </div>
      </footer>
      <script>
        window.walletId = '{{walletId}}'
      </script>
      <script>

        function makeQRCode (dataVal) {
          const qr = qrcode(0, 'M')
          qr.addData(dataVal)
          qr.make()
          return qr.createSvgTag(5, 0)
        }

        $(function () {
          setTimeout(function() {
            $.get('/' + window.walletId + '.json', function (data) {
              console.log(data)
              if(data && !data.error) {
                const bip21Url = 'bitcoin:' + data.address
                $('#qrcode-area').html(makeQRCode(bip21Url))
                $('#open-in-wallet').attr('href', bip21Url)
                $('#address-to-copy').val(data.address)
                $('.hide-after-load').addClass('d-none')
                $('.show-after-load').removeClass('d-none')
              } else {
                console.log('error')
              }
            }).fail(function () {
              console.log('error')
            })
          }, 2000)

          $('.btn-tooltip')
            .tooltip({'placement': 'bottom'})
            .on('mouseleave', function () {
              $(this).tooltip('hide')
            })

          const clipboard = new ClipboardJS('.btn-clipboard')

          clipboard.on('success', function (e) {
            $(e.trigger)
              .attr('title', 'Address copied!')
              .tooltip('_fixTitle')
              .tooltip('show')
              .attr('title', 'Copy to clipboard')
              .tooltip('_fixTitle')

            e.clearSelection()
          })

          clipboard.on('error', function (e) {
            var modifierKey = /Mac/i.test(navigator.userAgent) ? '\u2318' : 'Ctrl-'
            var fallbackMsg = 'Press ' + modifierKey + 'C to copy'

            $(e.trigger)
              .attr('title', fallbackMsg)
              .tooltip('_fixTitle')
              .tooltip('show')
              .attr('title', 'Copy to clipboard')
              .tooltip('_fixTitle')
          })

          new ClipboardJS('.btn')
        })
      </script>
    </div>
  </body>
</html>