<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ pageData.title }}</title>
    <meta name="description" content="{{ pageData.title }}" />

    <link rel="stylesheet" href="/css/vendor.css">
    {{> wallet_style}}
    <style>
      footer {
        color: rgba(0, 0, 0, .5);
      }
    </style>
    <script src="/js/vendor.js"></script>
    <script>
      window.walletId = '{{walletId}}'
    </script>
    {{> wallet_script}}
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto pt-3 pb-3">
        <div class="inner">
          <h1 class="cover-heading">{{ pageData.title }}</h1>
          <p class="lead">{{ pageData.description }}</p>
        </div>
      </header>
      <main role="main" class="cover">
        {{> wallet_dom}}
      </main>

      <footer class="mt-auto pt-3">
        <div class="inner">
          {{> footer}}
        </div>
      </footer>
    </div>
  </body>
</html>