<!doctype html>
<html lang="en">

  <!--
    Powered by One-Time Address
    https://github.com/alexk111/One-Time-Address
  -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ pageData.title }}</title>
    <meta name="description" content="{{ pageData.title }}" />

    <link rel="stylesheet" href="/css/vendor.css">
    {{> wallet_style}}
    <style>
      @media (max-width: 900px) {
        .display-4 {
          font-size: 2.5rem;
        }
      }

      @media (max-width: 480px) {
        .display-4 {
          font-size: 2.1rem;
        }
      }

      .page-back {
        position: fixed;
        top: 0;
        background: rgb(204, 207, 210);
        background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(204, 207, 210, 1) 100%);
      }

      footer {
        color: rgba(0, 0, 0, .5);
      }

      main {
        position: absolute;
        top: 0;
        pointer-events: none;
      }

      .onetime {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      @media screen and (min-width: 420px) {
        .onetime {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    </style>
    <script src="/js/vendor.js"></script>
    <script>
      window.walletId = '{{walletId}}'
    </script>
    {{> wallet_script}}
  </head>

  <body class="text-center">
    <div class="page-back d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto pt-3 pb-3">
        <div class="inner">
          <h1 class="display-4">{{ pageData.title }}</h1>
          <p class="lead">{{ pageData.description }}</p>
        </div>
      </header>
      <footer class="mt-auto pt-3">
        <div class="inner">
          {{> footer}}
        </div>
      </footer>
    </div>
    <main role="main" class="page-front d-flex w-100 h-100">
      {{> wallet_dom}}
    </main>
  </body>

</html>